:root {
    --main-clr: #fff;
    --txt-clr: #000;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Karma', serif;    
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}